!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Register the Cars</h4>
<div class="col-6">
  <form action="#" th:action="@{/cars/create}" th:object="${car}" method="post">
    <div class="form-group">
      <div class="form-group">
        <label for="car Mark">Car mark</label>
        <input class="form-control" type="text" th:field="*{carMark}" placeholder="car Mark" id="car Mark">
        <span class="text-danger" th:if="${#fields.hasErrors('carMark')}" th:errors="*{carMark}">car mark Error</span>
      </div>
      <div class="form-group">
        <label for="CarModel">Car Model</label>
        <input class="form-control" type="text" th:field="*{carMark}" placeholder="CarModel" id="CarModel">
        <span class="text-danger" th:if="${#fields.hasErrors('CarModel')}"
              th:errors="*{carMark}">Car Model Error</span>
      </div>
      <div class="form-group">
          <label for="regID"> Register Number</label>
        <input class="form-control" type="text" th:field="*{regID}" placeholder="RegID" id="regID">
        <span class="text-danger" th:if="${#fields.hasErrors('regID')}"
              th:errors="*{regID}">Car Model Error</span>
      </div>
      <div class="form-group">
        <label for="dateOfManufacture">Date of manufacture</label>
        <input class="form-control" type="date" th:field="*{dateOfManufacture}" id="dateOfManufacture">
        <span class="text-danger" th:if="${#fields.hasErrors('dateOfManufacture')}"
              th:errors="*{dateOfManufacture}">Foundation Date Error</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save Car</button>
  </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>